button{
    width: 100px;
    height: 100px;
    font-size: 50px;
    background-color: whitesmoke;
    border-radius: 50px;
    margin: 5px;
    user-select: none;
    outline: none;
}

button:hover{
    background-color: lightgray;
}

div{
    font-size: larger;
    font-weight:900;
    user-select: none;
}

div:hover{
    color: gray;
}
