<button (click)="minusNumber()">-</button>
<button (click)="plusNumber()">+</button>

<div class="one" *ngIf="num >= 1" [ngStyle]="
    {
    'background-color': 'green',
    'width':'50px',
    'height':'50px'
}" >
</div>
<div class="two" *ngIf="num >= 2" [ngStyle]="
    {
    'background-color': 'green',
    'width':'50px',
    'height':'50px'
}"></div>
<div class="three" *ngIf="num >= 3" [ngStyle]="
    {
    'background-color': 'green',
    'width':'50px',
    'height':'50px'
}"></div>